doctype html
//
  Iridium by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title BITACORA
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(href='http://fonts.googleapis.com/css?family=Arimo:400,700', rel='stylesheet', type='text/css')
    //if lte IE 8
      script(src='js/html5shiv.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-panels.min.js')
    script(src='js/init.js')
    script(src='js/bootstrap-modal.js')
    noscript
      link(rel='stylesheet', href='css/skel-noscript.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-desktop.css')
      link(rel='stylesheet', href='css/bootstrap.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
    //if lte IE 9
      link(rel='stylesheet', href='css/ie/v9.css')
  body.homepage
    // Header
    #header
      .container
        // Logo
        #logo
          h1
            a(href='#') BITACORA
          span Viajeros sin origen
        // Nav
        nav#nav
          ul
            li.active
              a(href='#featured') Rutas recientes
            li
              a(data-toggle='modal', href='#formularioRuta') Agregar nueva ruta
            li
              a(href='#') Mejores fotos
            li
              a(href='#') Contactanos
    // Main
    //
      <div id="main">
      <div class="container">
      </div>
      </div>
    // Modal
    #formularioRuta.modal.hide.fade.in(style='display: none;')
      .modal-header
        a.close(data-dismiss='modal') ×
        h3 Ingrese su Ruta
      .modal-body
        h4
        p
      .modal-footer
        a.btn.btn-success(href='index.html') Guardar
        a.btn(href='#', data-dismiss='modal') Cerrar
    // Footer
    #featured
      .container
        .row
          .4u
            h2 Ruta a Yura
            a.image.full(href='#')
              img(src='images/yura.jpg', alt='')
            p El distrito de yura se encuentra a unos 35km ....
            p
              a.button(href='#') Mas detalles
          .4u
            h2 Ruta a Chapi
            a.image.full(href='#')
              img(src='images/chapi.jpg', alt='')
            p Chapi se encuntra ubicado en la localidad de pocsi...
            p
              a.button(href='#') Mas detalles
          .4u
            h2 Ruta a Cabanaconde
            a.image.full(href='#')
              img(src='images/cabanaconde.jpg', alt='')
            p La ruta hacia cabanaconde es una ruta dificil de seguir...
            p
              a.button(href='#') Mas detalles
    // Footer
    // Copyright
    #copyright
      .container
        | Design: 
        a(href='#') BITACORA
        |  Images: 
        a(href='#') BITACORA
        |  (
        a(href='') CC0
        | )
