		// Load js libs only when the page is loaded.
		script(src='../js/jquery.min.js')
		script(src='../bootstrap/js/bootstrap.min.js')
		script(src='../js/modernizr.custom.72241.js')
		// Custom template scripts
		script(src='..js/magister.js')
		block footer