extends header
block header
    nav.mainmenu
      .container
        .pull-right
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Signin
            li
              a(href='#') Signout
        .dropdown
          button.navbar-toggle(type='button', data-toggle='dropdown')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // <a data-toggle="dropdown" href="#">Dropdown trigger</a>
          ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
            li
              a.active(href='#head') Hola
            li
              a(href='#about') ¿Quienes somos?
            li
              a(href='#rutas') Rutas recientes
            li
              a(href='#contact') Contactanos
    // Main (Home) section
    section#head.section
      .container
        .row
          .col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.text-center
            .searchBox
              input#searchTextField(type='text', placeholder='Search a destination location') 
          // /col
        // /row
    // Second (About) section
    section#about.section
      .container
        .row
          .col-md-10.col-lg-10.col-md-offset-1.col-lg-offset-1.text-center
            // Site Title, your name, HELLO msg, etc.
            h1.title BITACORA
            h2.subtitle Aventurate en nuevos lugares, crea una historia
            // Short introductory (optional)
            h3.tagline
              | Buscamos mejorar tu experiencia de turismo.
              br
            // Nice place to describe your site in a sentence or two
            p
              a.btn.btn-default.btn-lg(href='#') Registrate ahora
          // /col
        // /row
    // Second (About) section
    section#rutas.section
      .container
        h2.text-center.title Rutas recientes
        p.lead.text-center
          | Huge thank you to all people who publish
          br
          | 					their photos at 
          a(href='http://unsplash.com') Unsplash
          | , thank you guys!
        .row
          .col-sm-4.col-sm-offset-2
            .thumbnail
              img(src='assets/rutas/yura.jpg', alt='')
              .caption
                h3 Thumbnail label
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.
                p
                  a.btn.btn-primary(href='#', role='button') Button
                  a.btn.btn-default(href='#', role='button') Button
          .col-sm-4
            .thumbnail
              img(src='assets/rutas/chapi.jpg', alt='')
              .caption
                h3 Thumbnail label
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.
                p
                  a.btn.btn-primary(href='#', role='button') Button
                  a.btn.btn-default(href='#', role='button') Button
          .col-sm-4.col-sm-offset-2
            .thumbnail
              img(src='assets/rutas/cabanaconde.jpg', alt='')
              .caption
                h3 Thumbnail label
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.
                p
                  a.btn.btn-primary(href='#', role='button') Button
                  a.btn.btn-default(href='#', role='button') Button
          .col-sm-4
            .thumbnail
              img(src='assets/rutas/yura1.jpg', alt='')
              .caption
                h3 Thumbnail label
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.
                p
                  a.btn.btn-primary(href='#', role='button') Button
                  a.btn.btn-default(href='#', role='button') Button
    // Fourth (Contact) section
    section#contact.section
      .container
        h2.text-center.title Get in touch
        .row
          .col-sm-8.col-sm-offset-2.text-center
            p.lead Have a question about this template, or want to suggest a new feature?
            p Feel free to email me, or drop me a line in Twitter!
            p
              b gt@gettemplate.com
              br
              br
            ul.list-inline.list-social
              li
                a.btn.btn-link(href='https://twitter.com/serggg')
                  i.fa.fa-twitter.fa-fw
                  |  Twitter
              li
                a.btn.btn-link(href='https://github.com/pozhilov')
                  i.fa.fa-github.fa-fw
                  |  Github
              li
                a.btn.btn-link(href='http://linkedin/in/pozhilov')
                  i.fa.fa-linkedin.fa-fw
                  |  LinkedIn
    // Load js libs only when the page is loaded.
    script(src='../js/jquery.min.js')
    script(src='../bootstrap/js/bootstrap.min.js')
    script(src='../js/modernizr.custom.72241.js')
    // Custom template scripts
    script(src='../js/magister.js')
    script.
      function initialize() {
      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);      
      autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      console.log(place);
      window.location.href = "/mapSearch";
      });        
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOdauoh_16stWPxM67AJZpWjp3UWA2rI&libraries=places&callback=initialize', async='', defer='')

