doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    // Bootstrap Core CSS
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Custom Fonts
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='/css/agency.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/template.css')
    link(rel='stylesheet', href='/css/bitacora.css')
    link(rel='stylesheet', href='/css/sidebar.css')
    style.
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #map {
      height: 100%;
      top  :100px;
      }
      .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      margin-left: 360px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 600px;
      height: 50px;
      position: absolute;
      z-index: 1000;
      top  :130px;
      border: 1px solid #333;
      color:black;
      }
      #pac-input:focus {
      border-color: #4d90fe;
      }
      .pac-container {
      font-family: Roboto;
      }
      #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
      }
      #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
      }
    title #{title}
    style.
      #target {
      width: 345px;
      }
  body#page-top.index
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top') Bitacora
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')            
            li
              a.page-scroll(href='#', data-toggle='modal', data-target='#register') Register
            li
              a.page-scroll(href='#', data-toggle='modal', data-target='#signin') Login
        // /.navbar-collapse
      // /.container-fluid
    // Header   
    input#pac-input.controls(type='text', placeholder='Search a destination location')
    #map
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')     
    script.
     var SEARCH_LNG = #{lon};
     var SEARCH_LAT = #{lat};
     var SEARCH_ADDRESS = "#{address}";
    script(src='/js/map_search.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOdauoh_16stWPxM67AJZpWjp3UWA2rI&libraries=places&callback=initMap', async='', defer='')
